.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  /* width: 610px; */
  width: 100%;
  max-height: 500px;
  min-width: 100px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  position: relative;
  margin: 10px;
}
.card:hover{
  box-shadow: 0 3px 10px 1px rgba(0,0,0,0.2);
}
.price {
  font-weight: 500;
  font-size: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.rating {
  display: flex;
}
.image {
  height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.popimage {
  height: 300px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.open{
  background-color: skyblue;
  padding: 3px 7px;
  margin: 5px;
  border: 1px solid rgb(149, 149, 216);
  border-radius: 5px;
}
.open:hover{
  background-color: rgb(99, 162, 187);
}
.addtocart{
  background-color: #f0c14b;
  margin-top: 10px;
  padding: 5px 10px;
  /* border-color: #a88734 #9c7e31 #845a29; */
  border: 1px solid rgb(221, 145, 5);
  font-size: 13px;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  border-color: #a88734 #9c7e31 #845a29;
  color:white;
  justify-self: flex-end;
}
.addtocart:hover{
  background-color: rgb(243, 181, 65);
}
.remove{
  background-color: #ee4242;
  margin-top: 10px;
  color:white;
  padding: 5px 10px;
  border: 1px solid rgb(221, 145, 5);
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 5px;
  border-color: #a83434 #9c3131 #842929;
  color:white;
  justify-self: flex-end;
}
.remove:hover{
  background-color: rgb(226, 50, 50);
}
.title{
  margin-bottom: 15px;
  height: 50px;
  font-weight: 500;
  font-size: 17px;
}
.bdy{
  padding: 20px;
  border-top: 1px solid #eee;
}

@media all and (max-width: 700px){
  .title{
    height: 100px;
  }
}