.product{
    display:flex;
    margin-top:20px;
    margin-bottom:20px;

}
.info{
    padding-left:20px;
}
.image{
    object-fit:contain;
    width:180px;
    height:180px;
}
.btn{
    background:#f0c14b;
    margin-top:10px;
    border-color:#a88734 #9c7e31 #846a29;
    color:#111;
}