.container{
    background-color :#131921;
    color:white;
}
.row{
    display: flex;
    justify-content: space-around;
}
.list a{
    text-decoration: none;
    color: white;
    margin:0;
    font-size: 15px;
}
.row a:hover{
    color: lightgrey;
}
.foot{
    text-align: center;
}
ul{
    list-style-type: none;
}
.social{
    color: white;
    padding: 5px;
}
.social:hover{
    color: grey;
    transition: 8ms ease-in-out;
}