.container{
    background-color :#131921;
    color:white;
    position: relative;
    bottom: 5px;
    width: 100%;
}
.row{
    display: flex;
    justify-content: space-around;
}
.list a{
    text-decoration: none;
    color: white;
    margin:2px;
    font-size: 15px;
    font-weight: 600;
}
.row a:hover{
    color: lightgrey;
}
.foot{
    text-align: center;
}
ul{
    list-style-type: none;
}
.social{
    color: white;
    padding: 5px;
}
.social:hover{
    color: grey;
    transition: 8ms ease-in-out;
}