.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.amazon{
    object-fit:contain;
    height: 60px;
    max-width: 200px;
    margin-bottom: 20px;
    margin-top: 70px;
}
.Container{
    width:320px;
    margin: auto;
    display:flex;
    flex-direction:column;
    border-radius:5px;
    border: 1px solid lightgrey;
    padding: 20px;
    background-color:white;
    margin-bottom: 50px;;
}
.header{
    font-weight: 700;
    align-self: left;
    margin:0;
    margin-bottom: 20px;
}
.Container > h5{
    margin: 0;
    margin-bottom : 5px;
}
.Container > input{
    height: 30px;
    background-color: white;
    width:98%;
    font-size: 15px;
    margin-bottom: 10px;
}
.Container > textarea{
    border: 2px solid  black;
    height: 50px;
    background-color: white;
    width:98%;
    font-size: 15px;
    margin-bottom: 10px;
}
.Container button{
    background-color: #f0c14b;
    border-radius: 2px;
    width:100%;
    height:30px;
    border: 1px solid;
    border-color: #a88734;
    font-weight: bold;
}