.arr{
    width:35%;
    height:60px;
}
.card{
    display:flex;
    flex-direction:column;
    align-items:center;
    /* height:100vh; */
}
.Container{
    width:300px;
    align-items:center;
    height: fit-content;
    display:flex;
    flex-direction:column;
    border-radius:5px;
    border: 1px solid lightgrey;
    padding: 20px;
    background-color: mistyrose;
}
.h1{
    font-weight: 700;
    margin: 0; 
    color: darkslategray;
}
.Container > form > h5{
    margin-bottom:5px;
}
.input{
    height: 30px;
    background-color: white;
    width:98%;
    font-size: 15px;
}
.textarea{
    border: 2px solid  black;
    height: 50px;
    background-color: white;
    width:98%;
    font-size: 15px;
}
