.container{
    height: 100px;
    background-color: navy;
    color: white;
    font-size: 20px;
    /* display: flex; */
}
.logo{
    height: 40px;
    color: white;
}
.search{
    display: flex;
    align-items: center;
}
.search_icon{
    background-color: orange;
}