.subtotal {
    display:flex;
    flex-direction:coloumn;
    justify-content:space-between;
    width:300px;
    height:85px;
    padding:20px;
    background-color:darkgray;
    border:1px solid #dddddd;
    border-radius:3px;
    margin-left:200px;
}
.subtotal_gift {
    display:flex;
    align-items:center;
    
}
.subtotal_gift > input {
    margin-right:5px;
}
.subtotal > button {
    background : #f0c14b;
    border-radius:2px;
    width:100%;
    height:30px;
    border:1px slid;
    margin-top:10px;
    border-color: #a88734 #9c7e31 #846129;
    color:#111;
}